<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:label="Link Workshop" android:theme="@style/WorkshopLaunch"
        android:icon="@drawable/ic_launcher" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:usesCleartextTraffic="true" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CloudLoginActivity" android:exported="false" android:label="Sign in with Elegoo"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode" />
        <activity android:name=".CloudStatusActivity" android:exported="false" android:label="Cloud printers" />
        <activity android:name=".CloudCameraActivity" android:exported="false" android:label="Cloud camera"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode" />
        <activity android:name=".RecordingsActivity" android:exported="false" android:label="Print recordings" />
        <!-- "Open with" and "Share" for model files from other apps. -->
        <activity android:name=".SliceActivity" android:exported="true" android:label="Slice a model"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="model/x.stl-binary" />
                <data android:mimeType="model/x.stl-ascii" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="application/x-navistyle" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="model/obj" />
                <data android:mimeType="model/step" />
                <data android:mimeType="application/step" />
                <data android:mimeType="application/x-step" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.stl" />
                <data android:pathPattern=".*\\.STL" />
                <data android:pathPattern=".*\\.3mf" />
                <data android:pathPattern=".*\\.3MF" />
                <data android:pathPattern=".*\\.obj" />
                <data android:pathPattern=".*\\.OBJ" />
                <data android:pathPattern=".*\\.step" />
                <data android:pathPattern=".*\\.STEP" />
                <data android:pathPattern=".*\\.stp" />
                <data android:pathPattern=".*\\.STP" />
                <data android:pathPattern=".*\\..*\\.stl" />
                <data android:pathPattern=".*\\..*\\.STL" />
                <data android:pathPattern=".*\\..*\\.3mf" />
                <data android:pathPattern=".*\\..*\\.3MF" />
                <data android:pathPattern=".*\\..*\\.obj" />
                <data android:pathPattern=".*\\..*\\.OBJ" />
                <data android:pathPattern=".*\\..*\\.step" />
                <data android:pathPattern=".*\\..*\\.STEP" />
                <data android:pathPattern=".*\\..*\\.stp" />
                <data android:pathPattern=".*\\..*\\.STP" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="model/x.stl-binary" />
                <data android:mimeType="model/x.stl-ascii" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="application/x-navistyle" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="model/obj" />
                <data android:mimeType="model/step" />
                <data android:mimeType="application/step" />
                <data android:mimeType="application/x-step" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="model/x.stl-binary" />
                <data android:mimeType="model/x.stl-ascii" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="application/x-navistyle" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="model/obj" />
                <data android:mimeType="model/step" />
                <data android:mimeType="application/step" />
                <data android:mimeType="application/x-step" />
            </intent-filter>
        </activity>
        <activity android:name=".ModelSearchActivity" android:exported="false" android:label="Find models"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden" />
        <activity android:name=".SliceSettingsActivity" android:exported="false" android:label="Print settings" />
        <activity android:name=".PlateActivity" android:exported="false" android:label="Layout"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize" />
        <activity android:name=".GcodeViewerActivity" android:exported="false" android:label="Toolpath" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize" />
        <service android:name=".PrinterService" android:exported="false" android:foregroundServiceType="connectedDevice" />
    </application>
</manifest>
